## Pandas

It is a great tool to manipulate Data.

In [1]:
import pandas as pd

In [2]:
# To load data
iris = pd.read_csv("./IRIS.csv") #csv-> comma separated value
print(iris)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
print(type(iris)) # DataFrame -> it's a 2D table with rows and columns

<class 'pandas.core.frame.DataFrame'>

In [4]:
# Make a copy of data
# df = iris
df = iris.copy()

In [5]:
df.head()
# df.head(2)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [6]:
# Column headers
print(df.columns)
# change column header
df.columns = ["Utsav", 'sepal_width', 'petal_length', 'petal_width',
       'species']
print(df.columns)
print(df)
print(iris)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
Index(['Utsav', 'sepal_width', 'petal_length', 'petal_width', 'species'], dtype='object')
     Utsav  sepal_width  petal_length  petal_width         species
0      5.1          3.5           1.4          0.2     Iris-setosa
1      4.9          3.0           1.4          0.2     Iris-setosa
2      4.7          3.2           1.3          0.2     Iris-setosa
3      4.6          3.1           1.5          0.2     Iris-setosa
4      5.0          3.6           1.4          0.2     Iris-setosa
..     ...          ...           ...          ...             ...
145    6.7          3.0           5.2          2.3  Iris-virginica
146    6.3          2.5           5.0          1.9  Iris-virginica
147    6.5          3.0           5.2          2.0  Iris-virginica
148    6.2          3.4           5.4          2.3  Iris-virginica
149    5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]
     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
df.columns = ["sepal_length", 'sepal_width', 'petal_length', 'petal_width',
       'species']
# shape tells us about the shape of the structure
print(df.shape)

(150, 5)

In [8]:
# dtypes will tell you type of data each column is storing
print(df.dtypes)

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [9]:
print(df.describe())
# print(df.describe(include = 'all'))

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [10]:
# df['sepal_length']
# or
df.sepal_length

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [11]:
df.sepal_width.describe()

count    150.000000
mean       3.054000
std        0.433594
min        2.000000
25%        2.800000
50%        3.000000
75%        3.300000
max        4.400000
Name: sepal_width, dtype: float64

In [12]:
# Null Enteries
# isnull() -> it will give you list of Null enteries
df.isnull()

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [13]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [14]:
# selecting Row and /or columns by position
# iloc
print(type(df))
df.iloc[:4, :]

<class 'pandas.core.frame.DataFrame'>

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa

In [15]:
df.iloc[:4, :2]

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1

In [16]:
df.iloc[1:4, 2:4]

   petal_length  petal_width
1           1.4          0.2
2           1.3          0.2
3           1.5          0.2

In [17]:
df.iloc[:, :]

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [18]:
# df[2:5, 1:4] -> wrong
df.iloc[2:5, 1:4]

   sepal_width  petal_length  petal_width
2          3.2           1.3          0.2
3          3.1           1.5          0.2
4          3.6           1.4          0.2

## Manipulating Data in DataFrame

In [19]:
print(df.head())
print(df.columns)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [20]:
print(df.index)

RangeIndex(start=0, stop=150, step=1)

In [21]:
# drop()
df.drop(0)
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [22]:
hmm = df.drop(0)
print(hmm)
print(df.head())

     sepal_length  sepal_width  petal_length  petal_width         species
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]
   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [23]:
df.drop(0, inplace = True)
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width      species
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa

In [24]:
# print(df.head())
# df.drop(0, inplace = True)
# print(df.head())

In [25]:
df.drop(4, inplace = True)
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width      species
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa

In [26]:
df.drop([5,6, 7, 9], inplace = True)
print(df.head(8))

    sepal_length  sepal_width  petal_length  petal_width      species
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa

In [27]:
print(df.index)

Int64Index([  1,   2,   3,   8,  10,  11,  12,  13,  14,  15,
            ...
            140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
           dtype='int64', length=144)

In [28]:
# if you want to drop (delete) by position :-
print(df.index[0])
print(df.index[5]) # -> this will give you the label of the row at index 5 (or row at 5th position)
df.drop(df.index[0], inplace=True)
print(df.head(6))
df.drop(df.index[5], inplace=True)
print(df.head(6))

1
11
    sepal_length  sepal_width  petal_length  petal_width      species
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
    sepal_length  sepal_width  petal_length  petal_width      species
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa

In [29]:
#loc[`label`]
df.loc[2:5]

   sepal_length  sepal_width  petal_length  petal_width      species
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa

In [30]:
# adding row
df.loc[0] = [1, 2, 3, 4, "Oh! I am Added"]
df.tail()
df.loc[150] = [1, 2, 3, 4, "Iris-virginica"]
df.tail()
df.drop(0, inplace=True)
df.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica
150           1.0          2.0           3.0          4.0  Iris-virginica

In [31]:
# reset_index
print('Dataframe before reset index')
print(df.head(8))
df.reset_index(drop=True, inplace = True)
print('Dataframe after reset index')
print(df.head(8))

Dataframe before reset index
    sepal_length  sepal_width  petal_length  petal_width      species
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa
Dataframe after reset index
   sepal_length  sepal_width  petal_length  petal_width      species
0           4.7          3.2           1.3          0.2  Iris-setosa
1           4.6          3.1           1.5          0.2  Iris-setosa
2           4.4          2.9           1.4          0.2  Iris-setosa
3           5.4          3.7           1.5          0.2  Iris-setosa
4           4.8          3.4           1.6          0.2  Iris-setosa
5           4.3          3.0           1.1          0.1  Iris-setosa
6           5.8          4.0           1.2          0.2  Iris-setosa
7           5.7          4.4           1.5          0.4  Iris-setosa

In [32]:
# Deleting column
df.drop('sepal_length', axis=1, inplace=True)
print(df.head())
df.describe(include='all')

   sepal_width  petal_length  petal_width      species
0          3.2           1.3          0.2  Iris-setosa
1          3.1           1.5          0.2  Iris-setosa
2          2.9           1.4          0.2  Iris-setosa
3          3.7           1.5          0.2  Iris-setosa
4          3.4           1.6          0.2  Iris-setosa

        sepal_width  petal_length  petal_width         species
count    143.000000    143.000000   143.000000             143
unique          NaN           NaN          NaN               3
top             NaN           NaN          NaN  Iris-virginica
freq            NaN           NaN          NaN              51
mean       3.029371      3.881818     1.273427             NaN
std        0.440683      1.719836     0.778130             NaN
min        2.000000      1.000000     0.100000             NaN
25%        2.800000      1.600000     0.400000             NaN
50%        3.000000      4.400000     1.400000             NaN
75%        3.300000      5.100000     1.800000             NaN
max        4.400000      6.900000     4.000000             NaN

In [33]:
del df["petal_width"]
df.head()

   sepal_width  petal_length      species
0          3.2           1.3  Iris-setosa
1          3.1           1.5  Iris-setosa
2          2.9           1.4  Iris-setosa
3          3.7           1.5  Iris-setosa
4          3.4           1.6  Iris-setosa

In [34]:
df = iris.copy()
print(df.head())
print('\n')
print(df.describe())

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa


       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [35]:
# Adding a new column
df['xyz'] = 1
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width      species  xyz
0           5.1          3.5           1.4          0.2  Iris-setosa    1
1           4.9          3.0           1.4          0.2  Iris-setosa    1
2           4.7          3.2           1.3          0.2  Iris-setosa    1
3           4.6          3.1           1.5          0.2  Iris-setosa    1
4           5.0          3.6           1.4          0.2  Iris-setosa    1

In [36]:
df['diff_sl_sw'] = df["sepal_length"]-df['sepal_width']
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width      species  xyz  \
0           5.1          3.5           1.4          0.2  Iris-setosa    1
1           4.9          3.0           1.4          0.2  Iris-setosa    1
2           4.7          3.2           1.3          0.2  Iris-setosa    1
3           4.6          3.1           1.5          0.2  Iris-setosa    1
4           5.0          3.6           1.4          0.2  Iris-setosa    1

   diff_sl_sw
0         1.6
1         1.9
2         1.5
3         1.5
4         1.4

In [37]:
print(df.isnull().sum())

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
xyz             0
diff_sl_sw      0
dtype: int64

In [38]:
import numpy as np
print(df.head())
df.iloc[1:3, 1:3] = np.nan
print(df.head())
print(df.describe())

   sepal_length  sepal_width  petal_length  petal_width      species  xyz  \
0           5.1          3.5           1.4          0.2  Iris-setosa    1
1           4.9          3.0           1.4          0.2  Iris-setosa    1
2           4.7          3.2           1.3          0.2  Iris-setosa    1
3           4.6          3.1           1.5          0.2  Iris-setosa    1
4           5.0          3.6           1.4          0.2  Iris-setosa    1

   diff_sl_sw
0         1.6
1         1.9
2         1.5
3         1.5
4         1.4
   sepal_length  sepal_width  petal_length  petal_width      species  xyz  \
0           5.1          3.5           1.4          0.2  Iris-setosa    1
1           4.9          NaN           NaN          0.2  Iris-setosa    1
2           4.7          NaN           NaN          0.2  Iris-setosa    1
3           4.6          3.1           1.5          0.2  Iris-setosa    1
4           5.0          3.6           1.4          0.2  Iris-setosa    1

   diff_sl_sw
0         1.6
1         1.9
2         1.5
3         1.5
4         1.4
       sepal_length  sepal_width  petal_length  petal_width    xyz  diff_sl_sw
count    150.000000   148.000000    148.000000   150.000000  150.0  150.000000
mean       5.843333     3.053378      3.791216     1.198667    1.0    2.789333
std        0.828066     0.436345      1.753711     0.763161    0.0    0.975825
min        4.300000     2.000000      1.000000     0.100000    1.0    1.000000
25%        5.100000     2.800000      1.600000     0.300000    1.0    1.800000
50%        5.800000     3.000000      4.400000     1.300000    1.0    3.000000
75%        6.400000     3.300000      5.100000     1.800000    1.0    3.600000
max        7.900000     4.400000      6.900000     2.500000    1.0    5.100000

In [39]:
df.isnull().sum()

sepal_length    0
sepal_width     2
petal_length    2
petal_width     0
species         0
xyz             0
diff_sl_sw      0
dtype: int64

In [40]:
df.dropna(inplace=True)
print(df.head())
df.reset_index(drop=True, inplace=True)
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width      species  xyz  \
0           5.1          3.5           1.4          0.2  Iris-setosa    1
3           4.6          3.1           1.5          0.2  Iris-setosa    1
4           5.0          3.6           1.4          0.2  Iris-setosa    1
5           5.4          3.9           1.7          0.4  Iris-setosa    1
6           4.6          3.4           1.4          0.3  Iris-setosa    1

   diff_sl_sw
0         1.6
3         1.5
4         1.4
5         1.5
6         1.2
   sepal_length  sepal_width  petal_length  petal_width      species  xyz  \
0           5.1          3.5           1.4          0.2  Iris-setosa    1
1           4.6          3.1           1.5          0.2  Iris-setosa    1
2           5.0          3.6           1.4          0.2  Iris-setosa    1
3           5.4          3.9           1.7          0.4  Iris-setosa    1
4           4.6          3.4           1.4          0.3  Iris-setosa    1

   diff_sl_sw
0         1.6
1         1.5
2         1.4
3         1.5
4         1.2

In [41]:
df.iloc[1:3, 1:3] = np.nan
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width      species  xyz  \
0           5.1          3.5           1.4          0.2  Iris-setosa    1
1           4.6          NaN           NaN          0.2  Iris-setosa    1
2           5.0          NaN           NaN          0.2  Iris-setosa    1
3           5.4          3.9           1.7          0.4  Iris-setosa    1
4           4.6          3.4           1.4          0.3  Iris-setosa    1

   diff_sl_sw
0         1.6
1         1.5
2         1.4
3         1.5
4         1.2

In [42]:
# 1.
df.sepal_width.fillna(df.sepal_width.mean(), inplace=True)
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width      species  xyz  \
0           5.1     3.500000           1.4          0.2  Iris-setosa    1
1           4.6     3.049315           NaN          0.2  Iris-setosa    1
2           5.0     3.049315           NaN          0.2  Iris-setosa    1
3           5.4     3.900000           1.7          0.4  Iris-setosa    1
4           4.6     3.400000           1.4          0.3  Iris-setosa    1

   diff_sl_sw
0         1.6
1         1.5
2         1.4
3         1.5
4         1.2

In [43]:
# 2.
spc = df[df.species == 'Iris-setosa']
print(spc)
print('\n')
df.petal_length.fillna(spc.petal_length.mean(), inplace=True)
print(df.head())

    sepal_length  sepal_width  petal_length  petal_width      species  xyz  \
0            5.1     3.500000           1.4          0.2  Iris-setosa    1
1            4.6     3.049315           NaN          0.2  Iris-setosa    1
2            5.0     3.049315           NaN          0.2  Iris-setosa    1
3            5.4     3.900000           1.7          0.4  Iris-setosa    1
4            4.6     3.400000           1.4          0.3  Iris-setosa    1
5            5.0     3.400000           1.5          0.2  Iris-setosa    1
6            4.4     2.900000           1.4          0.2  Iris-setosa    1
7            4.9     3.100000           1.5          0.1  Iris-setosa    1
8            5.4     3.700000           1.5          0.2  Iris-setosa    1
9            4.8     3.400000           1.6          0.2  Iris-setosa    1
10           4.8     3.000000           1.4          0.1  Iris-setosa    1
11           4.3     3.000000           1.1          0.1  Iris-setosa    1
12           5.8     4.000000           1.2          0.2  Iris-setosa    1
13           5.7     4.400000           1.5          0.4  Iris-setosa    1
14           5.4     3.900000           1.3          0.4  Iris-setosa    1
15           5.1     3.500000           1.4          0.3  Iris-setosa    1
16           5.7     3.800000           1.7          0.3  Iris-setosa    1
17           5.1     3.800000           1.5          0.3  Iris-setosa    1
18           5.4     3.400000           1.7          0.2  Iris-setosa    1
19           5.1     3.700000           1.5          0.4  Iris-setosa    1
20           4.6     3.600000           1.0          0.2  Iris-setosa    1
21           5.1     3.300000           1.7          0.5  Iris-setosa    1
22           4.8     3.400000           1.9          0.2  Iris-setosa    1
23           5.0     3.000000           1.6          0.2  Iris-setosa    1
24           5.0     3.400000           1.6          0.4  Iris-setosa    1
25           5.2     3.500000           1.5          0.2  Iris-setosa    1
26           5.2     3.400000           1.4          0.2  Iris-setosa    1
27           4.7     3.200000           1.6          0.2  Iris-setosa    1
28           4.8     3.100000           1.6          0.2  Iris-setosa    1
29           5.4     3.400000           1.5          0.4  Iris-setosa    1
30           5.2     4.100000           1.5          0.1  Iris-setosa    1
31           5.5     4.200000           1.4          0.2  Iris-setosa    1
32           4.9     3.100000           1.5          0.1  Iris-setosa    1
33           5.0     3.200000           1.2          0.2  Iris-setosa    1
34           5.5     3.500000           1.3          0.2  Iris-setosa    1
35           4.9     3.100000           1.5          0.1  Iris-setosa    1
36           4.4     3.000000           1.3          0.2  Iris-setosa    1
37           5.1     3.400000           1.5          0.2  Iris-setosa    1
38           5.0     3.500000           1.3          0.3  Iris-setosa    1
39           4.5     2.300000           1.3          0.3  Iris-setosa    1
40           4.4     3.200000           1.3          0.2  Iris-setosa    1
41           5.0     3.500000           1.6          0.6  Iris-setosa    1
42           5.1     3.800000           1.9          0.4  Iris-setosa    1
43           4.8     3.000000           1.4          0.3  Iris-setosa    1
44           5.1     3.800000           1.6          0.2  Iris-setosa    1
45           4.6     3.200000           1.4          0.2  Iris-setosa    1
46           5.3     3.700000           1.5          0.2  Iris-setosa    1
47           5.0     3.300000           1.4          0.2  Iris-setosa    1

    diff_sl_sw
0          1.6
1          1.5
2          1.4
3          1.5
4          1.2
5          1.6
6          1.5
7          1.8
8          1.7
9          1.4
10         1.8
11         1.3
12         1.8
13         1.3
14         1.5
15         1.6
16         1.9
17         1.3
18         2.0
19         1.4
20         1.0
21         1.8
22         1.4
23         2.0
24         1.6
25         1.7
26         1.8
27         1.5
28         1.7
29         2.0
30         1.1
31         1.3
32         1.8
33         1.8
34         2.0
35         1.8
36         1.4
37         1.7
38         1.5
39         2.2
40         1.2
41         1.5
42         1.3
43         1.8
44         1.3
45         1.4
46         1.6
47         1.7


   sepal_length  sepal_width  petal_length  petal_width      species  xyz  \
0           5.1     3.500000      1.400000          0.2  Iris-setosa    1
1           4.6     3.049315      1.469565          0.2  Iris-setosa    1
2           5.0     3.049315      1.469565          0.2  Iris-setosa    1
3           5.4     3.900000      1.700000          0.4  Iris-setosa    1
4           4.6     3.400000      1.400000          0.3  Iris-setosa    1

   diff_sl_sw
0         1.6
1         1.5
2         1.4
3         1.5
4         1.2