## Pandas

It is a great tool to manipulate Data.

In [4]:
import pandas as pd

In [22]:
# To load data
iris = pd.read_csv("./IRIS.csv") #csv-> comma separated value
print(iris)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [23]:
print(type(iris)) # DataFrame -> it's a 2D table with rows and columns

<class 'pandas.core.frame.DataFrame'>

In [25]:
# Make a copy of data
# df = iris
df = iris.copy()

In [31]:
df.head()
# df.head(2)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [38]:
# Column headers
print(df.columns)
# change column header
df.columns = ["Utsav", 'sepal_width', 'petal_length', 'petal_width',
       'species']
print(df.columns)
print(df)
print(iris)

Index(['Utsav', 'sepal_width', 'petal_length', 'petal_width', 'species'], dtype='object')
Index(['Utsav', 'sepal_width', 'petal_length', 'petal_width', 'species'], dtype='object')
     Utsav  sepal_width  petal_length  petal_width         species
0      5.1          3.5           1.4          0.2     Iris-setosa
1      4.9          3.0           1.4          0.2     Iris-setosa
2      4.7          3.2           1.3          0.2     Iris-setosa
3      4.6          3.1           1.5          0.2     Iris-setosa
4      5.0          3.6           1.4          0.2     Iris-setosa
..     ...          ...           ...          ...             ...
145    6.7          3.0           5.2          2.3  Iris-virginica
146    6.3          2.5           5.0          1.9  Iris-virginica
147    6.5          3.0           5.2          2.0  Iris-virginica
148    6.2          3.4           5.4          2.3  Iris-virginica
149    5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]
     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [41]:
df.columns = ["sepal_length", 'sepal_width', 'petal_length', 'petal_width',
       'species']
# shape tells us about the shape of the structure
print(df.shape)

(150, 5)

In [43]:
# dtypes will tell you type of data each column is storing
print(df.dtypes)

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [46]:
print(df.describe())
# print(df.describe(include = 'all'))

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [52]:
# df['sepal_length']
# or
df.sepal_length

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64